# Node / frontend
node_modules/
.env
.env.*
.next/
out/
dist/
coverage/
venv
env
.venv

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build artifacts
*.log
